<%- include('header'); -%>
<h2>This is the about page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quaerat corrupti
  eos sit sunt possimus unde quo. Reprehenderit voluptas eos tenetur est nemo.
  Minima facere deleniti enim! Enim, repellat ea!
</p>
<%- include('footer'); -%>
