<%- include('header'); -%>
<h2>About TodoList</h2>
<p>
  This TodoList app was created using EJS as the templating language. Nodejs
  serves up the backend with an express server and MongoDB is used to persist
  the data.
</p>
<p>
  The app works so that one can add and delete items in the default list called
  Today. But one can also create custom lists dynamically using the route
  parameters
</p>
<%- include('footer'); -%>
